// nav
.nav {
  min-width: 20%;
  min-height: 100vh;
  position: fixed;
  background-color: $primary-lighter;
}

.logo {
  width: 151px;
  height: 40px;
  background-image: url('../images/logo-ANSWER.svg');
  overflow: hidden;
  white-space: nowrap;
  text-indent: 101%;
}

.menu {
  color: $secondary;
}

.menu:hover .menuItem {
  background-color: $primary-light;
}

.menu:active .menuItem {
  color: $primary;
  border-left: 4px solid $primary;
}

.menuItem {
  border-left: 4px solid transparent;
}

.currentUser {
  position: relative;
  bottom: 0;
}

.userPhoto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}