// assignment
.wrap {
  width: 100%;
}

// sidebar
.sidebar {
  width: 320px;
}

.articleItem {
  cursor: pointer;
  transition: .5s;

  &:hover,
  &:focus {
    background-color: $primary-lighter;
    color: $secondary;
  }
}

.authorNameLight {
  color: $secondary-light;
}


// article area
.article {
  width: 584px;
  position: relative;
}

.articleCard {
  border-top: 0;
  border-bottom: 0;
}

.authorPhoto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.articleContent {
  border-bottom: 1px solid $primary-light;
}

.attachFile {
  cursor: pointer;
}

.commentCard .articleContent {
  border-bottom: 0;
}

.commentCard {
  border-top: 0;
}


// reply
.replyArea {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.fontSelect {
  background-color: $primary-lighter;
  border: 0;
}

.replytyping {
  position: relative;
}

.replyContent {
  width: 100%;
  height: 292px;
  border: 1px solid $primary-light;
  resize: none
}

.replyAreaBtn {
  position: absolute;
  right: 24px;
  bottom: 16px;
}