// btn
.btn {
  padding: 8px 32px;
  font-size: 16px;
  line-height: 19px;
  border-radius: 3px;
}

.btn-primary {
  background-color: $primary;
  color: $light;
  border: 1px solid $primary;
  transition: .5s;

  &:hover {
    background-color: $primary-lighter;
    color: $primary;
  }
}

.btn-light {
  background-color: $light;
  color: $primary;
  border: 1px solid $primary;
  transition: .5s;

  &:hover {
    background-color: $primary-lighter;
    color: $primary;
  }
}

.btn-light {
  background-color: $light;
  color: $primary;
  border: 1px solid $primary-lighter;
  transition: .5s;

  &:hover {
    background-color: $primary;
    color: $light;
  }
}

.btn-warning {
  background-color: $light;
  color: $warning;
  border: 1px solid $warning;
  transition: .5s;

  &:hover {
    background-color: $warning;
    color: $light;
  }
}

.btn-disable {
  background-color: $light;
  color: $primary-lighter;
  border: 1px solid $primary-lighter;
}