// input
.input-light {
  background-color: $light;
  padding: $spacer*4;
  font-family: $font-primary;
  color: $secondary;
  border: 1px solid $secondary;
  border-radius: 2px;
}

.input-lighter {
  background-color: $primary-lighter;
  padding: $spacer*4;
  font-family: $font-primary;
  color: $secondary;
  border: 0;
  border-radius: 2px;
}

.edit-input {
  width: 432px;
}